html,
body {

    width: 100%;
    height: 100vh;
    color: #083151;
    /* color: #0487A5; */

}

/* containers */
#s1,
#s3 {
    background-color: rgb(221, 221, 221);
    color: #083151;
    padding-bottom: 0;
    padding-top: 0;
}

#s2,
#s4 {
    color: white;
    background-color: #083151;
    padding-bottom: 0;
    padding-top: 0;
}

#s5 {
    background-color: rgba(41, 40, 40, 0.857);
    color: whitesmoke;

}

/* wrapper */
.s__wrapper {
    padding: 1rem 2rem;
}

/* images */
#s1 img {
    width: 75%;
    height: auto;
    padding: 2rem;
    background-color: #083151;
    margin-bottom: 1rem;
}

.s__bottom img {
    width: 10%;
    height: auto;
    padding: 0;
}

.s__middle img {
    width: 10%;
    height: auto;
    padding: 0;
}

/* text styles*/
.display-2 {
    font-size: .5rem;
}

.s__title h1 {
    padding-top: 1rem;
    font-size: 1.5rem;

}

p {
    font-size: .8rem;
}

#s5 sub {
    padding-bottom: 2rem;
}

hr {
    width: 25%;
    border-width: .2rem;
    border-radius: 2rem;
    background-color: #0487A5;
    padding: 0;
    margin-top: .2rem;


}