html,
body {
    background-color: rgb(221, 221, 221);
    max-width: 100%;
    height: 100vh;
    color: #083151;
    /* color: #0487A5; */

}

body {

    width: 100%;
    height: 100vh;
    color: #083151;
    /* color: #0487A5; */

}

.sc-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* containers */
#opstart__s1,
#opstart__s3,
#opstart__s5,
#opstart__s7 {
    background-color: rgba(248, 244, 244, 0.911);
    color: #083151;
    padding-bottom: 0;
    padding-top: 0;

}

#opstart__s7 {
    padding: 1rem;
}

#opstart__s2,
#opstart__s4 {
    color: white;
    background-color: #083151;
    padding-bottom: 0;
    padding-top: 0;

}

#opstart__s6 {
    background-color: rgba(54, 60, 65, 0.857);
    color: whitesmoke;
    padding-top: 2rem;
    padding-bottom: 2rem;
}




/* images */
.opstart__s1-icons {
    padding: 2rem;
}

.opstart__s1-icons img {
    width: 55%;
    height: auto;
    padding: 1rem;
}

.opstart__triangle img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
}

.opstart__line img {
    width: 15%;
    height: 15%;

}

.opstart__top img {
    width: 25%;
    height: auto;
    padding: 1.5rem;

}

.opstart__right img {
    width: 20%;
    height: auto;
    margin: 1rem 0;
}

.opstart__triangle img {
    margin: 0;
    padding: 0;
    width: 30%;
    height: auto;
}

/* fonts styles */
p {
    font-size: 1.9rem;
    line-height: 1.2rem;
}

sub {
    font-size: 2.rem;
    padding: 4rem;
}


hr {
    width: 50%;
    border-width: .3rem;
    border-radius: 2rem;
    background-color: #0487A5;
    padding: 0;
}

/* sub containers */
.opstart__right {
    margin-top: 8rem;
    border: .2rem solid #0487A5;
    padding: 2rem 0;
}

.opstart__right-bottom {
    background-color: #0487A5;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-right: 9rem;
    width: fit-content;
    margin: auto;
    color: white;
}

.opstart__rightbox {
    padding-right: 9rem;
}

.opstart__left {
    padding-left: 9rem;
    margin-top: 8rem;
}



.btn {
    border: 0 solid;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: .8rem 3rem;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



@media screen and (max-width: 576px) {

    /* section 1 */
    .s-one__text {
        font-size: 1.5em;


    }

    .s-one h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .opstart__s1-icons img {
        width: 25%;
        height: auto;

    }



    #opstart__s5 .opstart__bottom p {
        padding: 1rem;

    }


    sub {
        font-size: .7em;
        line-height: .005rem;
        padding: 0;

    }

    .opstart__triangle img {
        margin: 0;
        padding: 0;
        width: 25%;
        height: auto;
    }

    .opstart__top img {
        width: 30%;
        height: auto;
        padding: .5rem;
    }



    p {
        font-size: .7rem;
        line-height: 1rem;

    }

    h3 {
        text-transform: capitalize;
    }
/*  */

/* sub containers */
.opstart__right {
    margin-top: 8rem;
    width: 100%;
    border: .2rem solid #0487A5;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.opstart__right-bottom {
    background-color: #0487A5;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    /* padding-right: 9rem; */
    width: fit-content;
    margin: auto;
    color: white;
    margin-bottom: 2rem;
}

.opstart__rightbox {
    /* padding-right: 9rem; */
}

.opstart__left {
    margin-top: 8rem;
    padding: 2rem;
}
/*  */

    .opstart__line img {
        width: auto;
        height: 100%;
        margin-left: -40%;
    }

    .opstart__left {
        padding: 1rem;
        margin-top: 5%;
    }

    .opstart__rightbox {
        padding: 1rem;
        margin-top: 5%;
    }

    .opstart__right-bottom {
        background-color: #0487A5;
        margin-top: .5rem;
        padding: .5rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: white;
        width: 100%;
        margin-left: 0%;

    }


}

/* tablets */
@media screen and (min-width: 577px) and (max-width: 991px) {


    sub {
        font-size: 1rem;
        line-height: .005rem;
        padding: 1rem;

    }

    p {
        font-size: .8rem;

    }

    .opstart__triangle img {
        margin: 0;
        padding: 0;
        width: 15%;
        height: auto;
    }

    .opstart__top img {
        width: 20%;
        height: auto;
        padding: .5rem;

    }

    .opstart__s1-icons img {
        width: 35%;
        height: auto;


    }


    .opstart__line img {
        width: auto;
        height: 100%;
        margin-left: -10%;


    }


    .opstart__bottom {
        padding: 0;
        margin: 0;
    }

    .s-two {
        padding-bottom: 0;
    }

    .opstart__right {
        border: .2rem solid #0487A5;
        padding: 1rem 0;

    }

    .opstart__right img {
        width: 20%;
        height: auto;
        margin: 0;
    }

    .opstart__right-bottom {
        background-color: #0487A5;
        padding: .5rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: white;
        width: fit-content;
        margin: 4rem auto;


    }

    .opstart__rightbox {
        padding-right: .5rem;
    }

    .opstart__left {
        padding-left: .5em;
    }


}

/* Large (lg) devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .opstart__s1-icons img {
        width: 45%;
        height: auto;
    }

    .s-one h3 {
        font-size: 1.5rem;
    }

    .opstart__right p {
        line-height: .7em;
        font-size: 1rem;
    }

    /* common */
    sub {
        font-size: 1rem;
        line-height: .005rem;
        padding: 1rem;
    }

    p {
        font-size: 1rem;
        line-height: 1rem;
    }

    .opstart__triangle img {
        margin: 0;
        padding-top: 0;
        width: 15%;
        height: auto;
    }

    .opstart__top img {
        width: 15%;
        height: auto;
        padding: .5rem;
    }

    .opstart__line img {
        width: 100%;
        height: auto;
        margin-left: 0%;


    }

    .opstart__bottom {
        padding: 0;
        margin: 0;
    }

    .s-two {
        padding-bottom: 0;
    }

    .opstart__right {
        padding: 1rem 0;

    }

    .opstart__right img {
        width: 20%;
        height: auto;
        margin: 0;
    }

    .opstart__right-bottom {

        margin-top: .5rem;
        padding: .5rem;


    }

    .opstart__rightbox {
        padding-right: .5rem;
    }

    .opstart__left {
        padding-left: .5em;
    }



}