html,
body {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.blog-post-container {
    background: #fafafa;
    max-width: 70%;
    border: 2px red solid;
    /* box-shadow: .1rem .2rem 1rem rgb(90, 90, 90); */
    margin: 0;
    padding: 0;
    overflow: hidden;


}

.blog-post {
    margin: 0;
    padding: 0;
}

.blog-post__img img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.blog-post__body {
    background: #fafafa;

    margin: 0;
    padding: 0;

}

.blog-post__title {

    color: rgb(37, 37, 37);
}

.blog-post__category a {
    text-transform: uppercase;
    color: rgb(37, 37, 37);
    font-size: .9rem;

}

.blog-post__footer {
    display: flex;
    margin: 2rem;
    padding: 0;
}

.blog-post__contact a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}